# Summer Analytics 2022 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



```
# This is formatted as code
```



### 1) Import Pandas

In [ ]:
#your code here
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

Use the following dataset
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [ ]:
#your code here
df1 = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", index_col="user_id", sep="|")

### 3) Display the first 25 entries

In [ ]:
#your code here
print(df1.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 4) Display the last 10 entries

In [ ]:
#your code here
print(df1.iloc[-10:,:])

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 5) What is the number of observations in the dataset?

In [ ]:
#your code here
print(f"the number of observ is {len(df1)}")

the number of observ is 943

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [ ]:
#your code here
print(f"the number of cols is {len(df1.columns)}")
print("they are")
for i in df1:print(i)

the number of cols is 4
age
gender
occupation
zip_code

### 7) What is the data type of each column?

In [ ]:
#your code here
print(df1.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [ ]:
#your code here
print(df1["occupation"])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [ ]:
#your code here
print("No of occupa")
print(len(df1["occupation"].value_counts()))

No of occupa
21

### 10) What is the most frequent occupation?

In [ ]:
#your code here
a = (df1["occupation"].value_counts())
print(a.index[0])

student

### 11) Summarize the DataFrame.

In [ ]:
#your code here
print(df1.describe())
print(df1.info())
print(df1.value_counts())
print(df1.nunique())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None
age  gender  occupation  zip_code
28   M       student     55414       2
44   F       other       60630       2
17   M       student     60402       2
51   M       educator    20003       2
21   F       student     55414       2
                                    ..
27   M       lawyer      47130       1
             marketing   11217       1
                         19382       1
             other       30350       1
73   M       retired     37771       1
Length: 936, dtype: int64
age            61
gender          2
occupation     21
zip_code      795
dtype: int64

### 12) Summarize only the occupation column

In [ ]:
#your code here
print(a.describe())
print(a.info())

count     21.000000
mean      44.904762
std       45.414650
min        7.000000
25%       14.000000
50%       28.000000
75%       66.000000
max      196.000000
Name: occupation, dtype: float64
<class 'pandas.core.series.Series'>
Index: 21 entries, student to doctor
Series name: occupation
Non-Null Count  Dtype
--------------  -----
21 non-null     int64
dtypes: int64(1)
memory usage: 892.0+ bytes
None

### 13) What is the mean age of users?

In [ ]:
#your code here
print(df1["age"].mean())

34.05196182396607

### 14) What is the age with least occurrence?

In [ ]:
#your code here
b = df1["age"].value_counts()
c = b == min(b)
c = c[c == 1]
print(c)

7     True
66    True
11    True
10    True
73    True
Name: age, dtype: bool