# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [64]:
#your code here
import numpy as np
import pandas as pd
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from 
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [50]:
#your code here
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv", sep="\t")

### 3) See the first 10 entries

In [10]:
#your code here
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4) What is the number of observations in the dataset?

In [11]:
#your code here
print(len(chipo))

4622

### 5) What is the number of columns in the dataset?

In [12]:
#your code here
print(len(chipo.columns))

5

### 6) Print the name of all the columns.

In [13]:
#your code here
print(*chipo.columns)

order_id quantity item_name choice_description item_price

### 7) Which was the most-ordered item?

In [34]:
#your code here
a = (chipo.groupby("item_name")["quantity"].sum())
most_ordered = a[a == a.max()].index[0]
print(most_ordered)

Chicken Bowl

### 8) For the most-ordered item, how many items were ordered?

In [36]:
#your code here
a[a == a.max()][0]

761

### 9) What was the most ordered item in the choice_description column?

In [37]:
#your code here
b = (chipo.groupby("choice_description")["quantity"].sum())
most_ordered2 = b[b == b.max()].index[0]
print(most_ordered2)

[Diet Coke]

### 10) How many items were ordered in total?

In [38]:
#your code here
print(chipo["quantity"].sum())

4972

### 11) Turn the item price into a float

In [53]:
#your code here
chipo["item_price"] = chipo["item_price"].str.strip("$").astype(float)

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [57]:
#your code here
sum(chipo["quantity"] * chipo["item_price"])

39237.020000000055

### 13) How many orders were made in the period?

In [58]:
#your code here
len(chipo["order_id"].value_counts())

1834

### 14) What is the average revenue amount per order?

In [68]:
#your code here
grouped_by_order = chipo.groupby("order_id")["item_price"].mean()
grouped_by_order.mean()

7.841910975496616

### 15) How many different items are sold?

In [69]:
#your code here
len(chipo["item_name"].value_counts())

50